@charset "UTF-8";
ul#album-fotos{
    list-style: none;
    width: 700px;
    height: 500px;
    margin: 25px auto;
}
ul#album-fotos li{
    display: inline-block;
    border: 5px solid white;
    box-shadow: 2px 2px 5px black;
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: all 0.4s ease-in;
    color: white;
}
ul#album-fotos li:hover{
    transform: scale(1.5);
}
span{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10pt;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    position: relative;    
    opacity: 0;
    
    line-height: 370px;
}
span:hover{
    opacity: 1;
}
.f1{
    background: url("../_imagens/galeria-01.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.f2{
    background: url("../_imagens/galeria-02.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.f3{
    background: url("../_imagens/galeria-03.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.f4{
    background: url("../_imagens/galeria-04.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.f5{
    background: url("../_imagens/galeria-05.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.f6{
    background: url("../_imagens/galeria-06.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
}
.foto:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}