@charset "UTF-8";
@font-face{
    font-family: "fontelogo";
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    background-color: #dddddd;
    font-family: arial, sans-serif;
}
p{
    text-indent: 50px;
    text-align: justify;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
div#interface{
    background-color: white;
    width: 1100px;
    margin: -30px auto 0px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
nav#menu ul{
    padding-top: 3px;
    position: fixed;
    top: -20px;
    left: 600px;
    float: block;
    z-index: 1;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px;
    transition: background-color 1s;
    box-shadow: 1px 1px 4px;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu a{
    text-transform: uppercase;
}
nav#menu a:hover{
    color: white;
}
nav#menu h1{
    display: none;
}
header#cabecalho{
    position: relative;
    border-bottom: 1px solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}
header#cabecalho h1{
    font-family: "fontelogo", sans-serif;
    color: #606060;
    font-size: 30pt;
    padding-left: 15px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-size: 13pt;
    color: #888888;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0px;
    margin-left: 10px;
}
img#foto {
    position: absolute;
    top: 50px;
    left: 80%;
}
section#corpo{
    display: block;
    float: left;
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid;
}
section hgroup#header-corpo h1{
    margin-bottom: -15px;
    font-family: "fontelogo", sans-serif;
    color: #606060;
    font-size: 20pt;
}
section hgroup#header-corpo h2{
    background-color: white;
    font-size: 13pt;
    color: #cecece;
    text-align: left;
}
section hgroup#header-corpo h3{
    font-size: 12pt;
    color: #606060;
    text-align: right;
}
section#corpo h2{
    color: #606060;
    background-color: #dddddd;
    padding: 5px;
    font-size:13pt;
}
figure.foto-legenda{
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
    width: 590px;
    margin-right: 10px;
    left: -40px;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%; 
}
figure.foto-legenda figcaption{
    position: absolute;
    top: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    width: 100%;
}
figure.foto-legenda figcaption:hover{
    opacity: 1;
}
table caption{
    color: #888888;
    font-size: 13pt;
}
table caption span{
    font-size: 8pt;
    float: right;
    top: 10px;
    display: block;
    top: 10px;
    position: relative;
}
/*TABELA*/
table{
    background-color: #606060;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 1px;
}
table td.col-1{
    color: white;
    vertical-align: top;
    text-align: right;
}
table td.col-2{
    background-color: #dddddd;
    padding: 2px;
}
/*FIM DA TABELA*/
aside#lateral{
    display: block;
    float: right;
    width: 450px;
    background-color: #dddddd;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
}
aside#lateral h1{
    font-family: "fontelogo", sans-serif;
    font-size: 20pt;
    color: #606060;
    padding-left: 10px;
}
aside#lateral h2{
    color: #ffffff;
    background-color: #606060;
    padding: 5px;
    font-size: 12pt;
}
footer#rodape{
    clear: both;
    text-align: center;
    border-top: 1px solid;
    background-color: #dddddd;
    padding: 5px;
}
section#corpo-full{
    padding: 10px;
}